// Common styles should be placed here
// Atomic classes, some styles for base element etc.

* {
  box-sizing: border-box;
}

body {
  background-color: $page-background-color;
  color: $white-color;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: $white-color;
  &:hover {
    color: $primary50-color;
  }
}

li {
  list-style: none;
  display: inline-block;
}

img {
  display: inline-block;
}
