// Common styles should be placed here
// Atomic classes, some styles for base element etc.

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: $page-background-color;
  color: $white-color;
  position: relative;
}

a {
  text-decoration: none;
  color: $white-color;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: $breakpoint-md) {
    max-width: 510px;
  }

  @media screen and (max-width: $breakpoint-lg) {
    max-width: 798px;
  }

  @media screen and (max-width: $breakpoint-xl) {
    max-width: 1054px;
  }

  @media screen and  (max-width: $breakpoint-xxl) {
    max-width: 1310px;
  }
}

.img-shadow {
  box-shadow: -16px 16px 0 0 $primary70-color, -8px 8px 12px 0 rgba(33, 87, 187, 0.6);

  @media screen and (max-width: $breakpoint-xxl) {
    box-shadow: -8px 8px 0 0 $primary70-color, -4px 4px 10px 0 rgba(33, 87, 187, 0.6);
  }

  @media screen and (max-width: $breakpoint-md) {
    box-shadow: -4px 4px 0 0 $primary70-color, -2px 2px 8px 0 rgba(33, 87, 187, 0.6);
  }
}

.p-fixBg {
  padding-top: 80px;
}