@mixin section-title {
  font-size: 48px;
  font-weight: $font-bold;
  line-height: 134%;
  text-align: left;
  color: $primary40-color;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}
