$white-color: #ffffff;
$transparent-color: transparent;
$page-background-color: #1e1e1e;
$neutral200-color: #a9a9aa;
$neutral300-color: #c5c5c6;
$primary30-color: #c2d4ff;
$primary40-color: #8badff;
$primary50-color: #608eff;
$primary60-color: #0040dd;
$primary70-color: #022f9d;
