.home-section {
  position: relative;
  height: 808px;
  overflow: hidden;
  z-index: 2;

  .container {
    position: relative;
    z-index: 2;
    color: $white-color;
    text-align: center;

    .home-section__content {
      @include flexRow($justifyContent: space-between);

      .home-section__content-text {
        @include flexColumn;
        width: 413px;

        .home-section__title {
          @include textBase(
            $fz: 72px,
            $lh: 130%,
            $fw: $font-bold,
            $ff: "Montserrat"
          );
          margin-top: 40px;
        }

        .home-section__button {
          @extend %buttonBase;
          width: 40%;
        }

        .home-section__description {
          @include textBase($fz: 18px, $lh: 146%);
        }
      }

      .home-section__image {
        margin-top: -55px;
      }
    }
  }
}
