.home-section {
  position: relative;
  height: 750px; /* 830px total height - 80px header */
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  object-fit: cover; /* Ensure the video covers the entire section */
  z-index: 1; /* Ensure video is below the header */
}

.home-section .container {
  position: relative;
  z-index: 2; /* Ensure content is above the video */
  color: #fff; /* Ensure text is visible on the video background */
  text-align: center;
  padding-top: 100px; /* Adjust as needed */
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: $font-bold;
  line-height: 93.6px;
}
