@media screen and (max-width: $breakpoint-lg) {
  .home-section {
    height: auto;

    .container {

      .home-section__content {

        @include flexRow($justifyContent: center, $alignItems: center);

        .home-section__content-text {
          display: grid;
          grid-template: repeat(3, auto) / 1fr;
          grid-template-areas: "title"
                                "paragraph"
                                "button";
          justify-items: center;
          width: 100%;

          .home-section__title {
            @include textBase(
                    $fz: 65px,
                    $lh: 130%,
                    $fw: $font-bold,
                    $ff: "Montserrat"
            );
            text-align: center;
            margin-top: 40px;
            margin: 40px 0 259px;
            grid-area: title;
            max-width: 400px;
          }

          .home-section__button {
            @extend %buttonBase;
            width: 100%;
            grid-area: button;
            margin: 20px 0 0 0;
            padding: 12px 0;
          }

          .home-section__description {
            @include textBase($fz: 20px, $lh: 130%);
            grid-area: paragraph;
            margin: 0;
          }
        }

        .home-section__image {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {

  .home-section {
    .container {

      .home-section__content {

        .home-section__content-text {

          .home-section__title {

            @include textBase(
                    $fz: 56px,
                    $lh: 110%,
                    $fw: $font-bold,
                    $ff: "Montserrat"
            );
            text-align: center;
          }

          .home-section__button {
            margin: 16px 0 0 0;
            padding: 8px 0;
          }

          .home-section__description {
            @include textBase($fz: 18px, $lh: 126%);
          }
        }
      }
    }
  }
}