@media screen and (max-width: $breakpoint-lg) {
  .home-section {
    height: 674px;

    .container {

      .home-section__content {

        @include flexRow($justifyContent: center, $alignItems: center);

        .home-section__content-text {
          display: grid;
          grid-template: repeat(4, auto) / 1fr;
          grid-template-areas: "title"
                                "paragraph"
                                "contact"
                                "button";
          justify-items: center;
          width: 100%;

          .home-section__title {
            @include textBase(
                    $fw: $font-bold,
                    $ff: "Montserrat",
                    $fz: 56px,
                    $lh: 110%
            );

            text-align: center;
            margin: 18px 0 56px;
            grid-area: title;
            max-width: 400px;
          }

          .home__contact-btn {
            display: block;
            grid-area: contact;
            width: 100%;
            margin: 16px 0;

            & button {
              width: 100%;
              text-align: center;
            }
          }

          .home-section__button {
            @extend %buttonBase;
            width: 100%;
            grid-area: button;
            margin: 0;
            padding: 12px 0;
          }

          .home-section__description {
            @include textBase($fz: 20px, $lh: 130%);
            grid-area: paragraph;
            margin: 0;
          }
        }

        .home-section__image {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {

  .home-section {
    .container {

      .home-section__content {

        .home-section__content-text {

          .home-section__button {
            padding: 8px 0;
          }

          .home-section__description {
            @include textBase($fz: 18px, $lh: 126%);
          }
        }
      }
    }
  }
}