.home-section {
  position: relative;
  height: 808px;
  overflow: hidden;
  z-index: 2;

  .container {
    position: relative;
    z-index: 2;
    color: $white-color;
    text-align: center;

    .home-section__content {
      display: flex;
      justify-content: space-between;

      .home-section__content-text {
        display: flex;
        flex-direction: column;
        width: 413px;

        .home-section__title {
          @include text-format(
            $font-size: 72px,
            $line-height: 130%,
            $font-weight: $font-bold,
            $font-family: "Montserrat"
          );

          margin-top: 40px;
        }

        .home-section__button {
          @extend .button_base;
          width: 40%;
        }

        .home-section__description {
          @include text-format($font-size: 18px, $line-height: 146%);
        }
      }

      .home-section__image {
        margin-top: -55px;
      }
    }
  }
}
