.advantages {
  margin-bottom: 160px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    @extend %img-blue-line;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 570px;
  }

  &__title {
    @include section-title-styles;
  }

  &__item {
    position: relative;
    margin-bottom: 16px;
    margin-left: 8px;
    &::before {
      content: "";
      position: absolute;
      border-color: $primary70-color;
      border-style: solid;
      border-width: 9.599px;
      height: 15px;
      width: 15px;
      top: 17px;
      left: -29px;
      margin-top: -16px;
      border-radius: 50%;
    }
  }
}
