.advantages {
  margin-bottom: 160px;

  &__content {
    @include flexRow($justifyContent: space-between);
  }

  &__image {
    flex: 1 1 49.21875%;

    & img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    @include flexColumn;
    flex: 1 1 50.78125%;
    margin: 0 0 0 30px;
  }

  &__title {
    @extend %sectionTitle;
  }

  &__list {
    padding: 0;
  }

  &__item {
    @include textBase($fz: 18px, $lh: 146%);
    position: relative;
    margin-left: 46px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }


    &::before {
      content: "";
      position: absolute;
      background-color: $primary70-color;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      left: -26px;
      top: 5px;
    }

  }

}
