@media screen and (max-width: $breakpoint-xl) {
  .advantages {
    margin-bottom: 100px;

    &__bg {
      padding: 0 0 237px 0;
      min-height: 736px;
      background: url(../../assets/advantagesMob.png) 54% calc(100% + 114px) / cover no-repeat;
    }

    &__image {
      display: none;
    }

    &__text {
      flex: 1 1 100%;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__title {
      font-size: 35px;
      line-height: 130%;
      text-align: left;
      height: 95px;
    }

    &__item {
      @include textBase($fz: 16px, $lh: 125%);
      margin-left: 42px;

      &::before {
        width: 12px;
        height: 12px;
        left: -22px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .advantages {

    &__bg {
      background-position: 54% calc(100% + 195px);
    }

    &__content {
      display: flex;
      flex-direction: column-reverse;
      max-width: 650px;
    }

    &__text {
      flex-direction: column;
    }

    &__title {
      height: auto;
    }
  }
}


@media screen and (max-width: 576px) {
  .advantages {

    &__bg {
      background-position: 54% calc(100% + 233px);
    }

    &__title {
      font-size: 28px;
      line-height: 118%;
    }

    &__item {
      @include textBase($fz: 14px, $lh: 130%);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .advantages {
    &__bg {
      background-position: 54% calc(100% + 290px);
    }
  }
}
