@import "../common/index";
@import "../components/header/index";
@import "../components/home/index";
@import "../components/about_us/index";
@import "../components/advantages/index";
@import "../components/team/index";
@import "../components/banner/index";
@import "../components/contact/index";
@import "../components/footer/index";

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 888px;
  background: linear-gradient(
    90deg,
    #0d0d0d 9.64%,
    rgba(13, 13, 13, 0.5) 33.4%,
    rgba(13, 13, 13, 0.4) 43.97%,
    rgba(13, 13, 13, 0.8) 53.18%,
    #0d0d0d 66.33%
  );
  z-index: 1;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 888px;
  background-color: #000;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
