.footer__wrapper{
  background-image: url("../../../assets/footer/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__container {
  padding: 40px 0;
}
.footer__content {
  display: flex;
  gap: 300px;
}

.footer__brand {
  @include flexRow;
  margin-bottom: 32px;

  &-name {
    @include brandName($arg: footer);
    color: $white-color;
  }
}

.footer__description {
  &-text {
    @include textBase($color: $white-color);
    max-width: 408px;
    margin-bottom: 192px;
  }
}

.footer__copyright {
  &-text {
    @include textBase($fz: 12px, $color: $neutral200-color);
    margin-bottom: 0;
  }
}

.footer__socials {
  @include flexColumn($justifyContent: space-between);
}

.footer__list {
  @include flexRow($justifyContent: flex-start);
  gap: 40px;
  padding-left: 0;
}

.footer__item-link {
  display: inline-block;
  @include textBase($fz: 18px, $lh: 146%, $color: $white-color);
  @extend %link;
}

.footer__contact {
  display: flex;
  gap: 300px;
}

.footer__contact-subtitle {
  @include textBase($fz: 20px, $lh: 144%, $fw: $font-regular);
  margin-bottom: 16px;
}

.footer__number,
.footer__email {
  display: block;
  @include textBase($fz: 14px, $lh: 160%);
  @extend %link;
}

.footer__contact-media {
  @include flexColumn($justifyContent: space-between);
  gap: 10px;
}
.footer__social-link {
  display: inline-block;
  text-align: center;
  border-radius: 60px;
  padding: 10px;
  background-color: $white-color;
}
