.footer {
  position: relative;
  padding-top: 40px;
  overflow: hidden;

  &__top-stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url('../../../assets/footer/bg-footer-2.png');
    background-repeat: repeat-x;
    background-position: top;
  }

  &__wrapper {
    background-image: url("../../../assets/footer/bg-footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__container {
    padding: 80px 15px 40px;
  }

  &__content {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    grid-template-areas: "description navigations"
                        "copyright contacts";
    justify-content: space-between;
    column-gap: 50px;
  }

  &__brand {
    @include flexRow;
    margin-bottom: 32px;

    &-name {
      @include brandName($arg: footer);
      color: $white-color;
    }
  }

  &__descriptions {
    grid-area: description;

    &-text {
      @include textBase($color: $white-color);
      width: 408px;
    }
  }

  &__copyright {
    grid-area: copyright;
    align-self: end;

    &-text {
      @include textBase($fz: 12px, $color: $neutral200-color);
      margin-bottom: 0;
    }
  }

  &__nav {
    grid-area: navigations;
  }

  &__socials {
    @include flexColumn($justifyContent: space-between);
    grid-area: contacts;
  }


  &__list {
    @include flexRow($justifyContent: flex-start);
    gap: 40px;
    padding-left: 0;
  }

  &__item-link {
    display: inline-block;
    @include textBase($fz: 18px, $lh: 146%, $color: $white-color);
    @extend %link;
  }

  &__contact {
    display: flex;
    gap: 300px;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__contact-subtitle {
    @include textBase($fz: 20px, $lh: 144%, $fw: $font-regular);
    margin-bottom: 16px;
  }

  &__number,
  &__email {
    display: block;
    @include textBase($fz: 16px, $lh: 160%);
    @extend %link;
  }

  &__contact-media {
    @include flexColumn($justifyContent: space-between);
    gap: 10px;
  }

  &__contact-media {
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $white-color;
    border-radius: 50%;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }

  &__social-icon {
    width: 16px;
    height: 16px;
  }
}
