@import "footer";
@import "footer-media";

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-link {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  line-height: 138%;
  color: $primary50-color;
  cursor: pointer;
}

.footer-description {
  max-width: 408px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $neutral200-color;
  margin-bottom: 192px;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $neutral200-color;
}

.footer-contact{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 0;
}

.footer__item-link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 146%;
  color:$neutral200-color;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.footer-number,
.footer-email {
display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: $white-color;
}




//styles for the background image in the footer

//.footer-content {
//  background-image: url("../../../assets/footer-bg-img.png");
//  background-repeat: no-repeat;
//  background-position: bottom;
//  background-size: contain;
//}

