<section id="about_us">
  <div class="container">
    <div class="about_us-container d-flex justify-content-between">
      <div class="about_us-content d-flex flex-column">
        <h2 class="about_us-title">About Us</h2>
        <p class="about_us-description">
          At Ratifire, we are a team of ambitious, skilled, and creative
          specialists united by a common goal—solving tough problems with
          innovative IT solutions. Our expertise spans across diverse
          technologies, enabling us to craft tailored strategies that drive real
          results for businesses like yours.
        </p>
        <p>
          Every challenge is an opportunity for us to push boundaries, think
          outside the box, and deliver solutions that not only meet but exceed
          expectations. We thrive in complex environments and are passionate
          about turning your biggest IT hurdles into stepping stones for
          success.
        </p>
      </div>

      <div class="about_us-img"></div>
    </div>
  </div>
</section>
