<section id="advantages">
  <div class="container">
    <div class="advantages-container d-flex justify-content-between">
      <div class="advantages-img"></div>

      <div class="advantages-content d-flex flex-column">
        <h2 class="advantages-title">Our advantages</h2>
        <ul class="advantages-list">
          <li class="advantages-item">
            Security. We prioritize your security every step of the way.
          </li>
          <li class="advantages-item">
            Creativity. Our creative approach drives innovative solutions.
          </li>
          <li class="advantages-item">
            Teamwork. Collaboration is at the core of everything we do.
          </li>
          <li class="advantages-item">
            Communication. Clear, transparent communication is key to delivering
            successful projects.
          </li>
        </ul>
        <h2 class="advantages-title">The product creation process</h2>
        <ul class="advantages-list">
          <li class="advantages-item">
            Business Analysis. Understanding your business is the first step.
          </li>
          <li class="advantages-item">
            Design. We believe in design that works.
          </li>
          <li class="advantages-item">
            Development. Our development team brings your project to life.
          </li>
          <li class="advantages-item">
            Testing. Before deployment, we rigorously test every aspect of the
            project.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
