<section class="advantages">
  <div class="container">
    <div class="advantages__content">
      <div class="advantages__image img-shadow">
        <img
          src="./assets/advantages.jpg"
          alt="Advantages picture"
        />
      </div>

      <article class="advantages__text">
        <h2 class="advantages__title">Our advantages</h2>
        <ul class="advantages__list">
          <li class="advantages__item">
            Security. We prioritize your security every step of the way.
          </li>
          <li class="advantages__item">
            Creativity. Our creative approach drives innovative solutions.
          </li>
          <li class="advantages__item">
            Teamwork. Collaboration is at the core of everything we do.
          </li>
          <li class="advantages__item">
            Communication. Clear, transparent communication is key to delivering
            successful projects.
          </li>
        </ul>
        <h2 class="advantages__title">The product creation process</h2>
        <ul class="advantages__list">
          <li class="advantages__item">
            Business Analysis. Understanding your business is the first step.
          </li>
          <li class="advantages__item">
            Design. We believe in design that works.
          </li>
          <li class="advantages__item">
            Development. Our development team brings your project to life.
          </li>
          <li class="advantages__item">
            Testing. Before deployment, we rigorously test every aspect of the
            project.
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>
