<section class="banner">
  <div class="banner-container">
    <div class="container">
      <div class="banner-content">
        <div class="banner-content__wrapper">
          <h1 class="banner-content__title">
            We turn problems <br> into
            <div class="banner-slider">
              <ul class="banner-slider__words">
                <li class="banner-slider__word">creative</li>
                <li class="banner-slider__word">easy</li>
                <li class="banner-slider__word">powerful</li>
                <li class="banner-slider__word">simple</li>
              </ul>
            </div>
            solutions
          </h1>
        </div>
        <div class="banner-logo">
          <img class="banner-logo-img" src="../../assets/ratifire_logo_banner.svg">
        </div>
      </div>

    </div>
  </div>
</section>
