<section class="banner">
  <div class="banner__container">
    <div class="container">
      <div class="banner__content">
        <div class="banner__title-container">
          <h1 class="banner__title">
            We turn problems <br />
            into <strong class="banner__strong">creative</strong> solutions
          </h1>
        </div>
        <div class="banner__logo">
          <img
            class="banner__logo-img"
            src="../../assets/ratifire_logo_banner.svg"
            alt="Ratifire Logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
