<section class="banner">
  <div class="banner__container">
    <div class="container">
      <div class="banner__content">
        <div class="banner__content-wrapper">
          <h1 class="banner__content-title">
            We turn problems <br />
            into
            <div class="banner__slider">
              <ul class="banner__slider-words">
                <li class="banner__slider-word">creative</li>
                <li class="banner__slider-word">practical</li>
                <li class="banner__slider-word">powerful</li>
                <li class="banner__slider-word">effective</li>
              </ul>
            </div>
            solutions
          </h1>
        </div>
        <picture class="banner-logo">
          <source srcset="./assets/banner/rat.svg" media="(max-width: 768px)">
          <img
            class="banner-logo-img"
            src="../../assets/logo/ratifire_logo_banner.svg"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
