<section id="contact" class="contact">
  <div class="container">
    <div class="contact__container">
      <div class="contact__content">
        <div class="contact__img-wrapper img-shadow">
          <img
            src="./assets/contacts/ratifire-contact.jpg"
            alt="contact-mouse"
          />
        </div>
        <div class="contact__links-wrapper">
          <h2 class="contact__title">Contact Us</h2>
          <p class="contact__description">
            Have a question or a project in mind? We’re here to help! Whether
            you need IT advice or a custom solution, our team is ready. Drop us
            a message and let's start bringing your vision to life.
          </p>
          <div class="contact__links">
            <div class="contact__link contact__link--mail">
              <a href="mailto:shaitan.oleksandr@ratifire.org">
                shaitan.oleksandr@ratifire.org
              </a>
            </div>
            <div class="contact__link contact__link--phone">
              <a href="tel: +48511535199">
                +48 511 535 199
              </a>
            </div>
            <div class="contact__link contact__link--linkedin">
              <a href="https://www.linkedin.com/company/ratifire/">
                www.linkedin.com/company/ratifire/
              </a>
            </div>
          </div>
          <div class="contact__socials">
            <h3 class="contact__socials-title">Join us in social media</h3>
            <div class="contact__links">
              <div class="contact__link contact__link--facebook">
                <a href="#">
                  Ratifire
                </a>
              </div>
              <div class="contact__link contact__link--telegram">
                <a href="https://t.me/ratifire">
                  @Ratifire
                </a>
              </div>
              <div class="contact__link contact__link--youtube">
                <a href="https://www.youtube.com/@ratifire-c7h">
                  youtube.com/@Ratifire
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
