<section class="contact" >
  <div class="container contact-container">
      <div class="contact-content">
        <div class="contact-content__img">
          <img class="img" src="../../assets/ratifire-contact-img.jpg" alt="contact-mouse" width="630" height="733">
        </div>
        <div class="contact-form">
          <h2 class="contact-form__title">Contact Us</h2>
          <p class="contact-form__description">Have a question or a project in mind? We’re here to help! Whether you need IT advice or a custom solution, our team is ready. Drop us a message and let's start bringing your vision to life.</p>
          <form class="form">
            <div class="form-content">
              <div class="form-content__wrapper">
                <input class="form-content__user" type="text" id="name" placeholder="Full name" required autocomplete="off">
                <img class="form-content__icon" src="../../assets/contact-user.svg" width="32" height="24">
              </div>
              <div class="form-content__wrapper">
                <input class="form-content__email" type="email" id="email" placeholder="Email" required autocomplete="off">
                <img class="form-content__icon" src="../../assets/contact-email.svg" width="32" height="24">
              </div>
              <div class="form-content__wrapper">
                <input class="form-content__company" type="text" id="company" placeholder="Company title" required autocomplete="off">
                <img class="form-content__icon" src="../../assets/contact-company.svg" width="32" height="24">
              </div>
            </div>
            <textarea class="form-describe" placeholder="Describe your project"></textarea>
            <button class="btn form-btn" type="submit">Get in touch</button>
          </form>
        </div>
      </div>
  </div>
</section>
