<section id="contact">
  <div class="container">
    <div class="contact__container">
      <div class="contact__content">
        <div class="contact__img-wrapper">
          <img
            src="../../assets/ratifire-contact-img.jpg"
            alt="contact-mouse"
            width="630"
            height="733"
          />
        </div>
        <div class="contact__form-wrapper">
          <h2 class="contact__title">Contact Us</h2>
          <p class="contact__description">
            Have a question or a project in mind? We’re here to help! Whether
            you need IT advice or a custom solution, our team is ready. Drop us
            a message and let's start bringing your vision to life.
          </p>
          <form class="form">
            <div class="form__container">
              <div class="form__input-wrapper">
                <input
                  class="form__input-user"
                  type="text"
                  id="name"
                  placeholder="Full name"
                  autocomplete="off"
                  required
                />
                <img
                  class="form__input-icon"
                  src="../../assets/form/contact-user.svg"
                  width="32"
                  height="24"
                />
              </div>
              <div class="form__input-wrapper">
                <input
                  class="form__input-email"
                  type="email"
                  id="email"
                  placeholder="Email"
                  autocomplete="off"
                  required
                />
                <img
                  class="form__input-icon"
                  src="../../assets/form/contact-email.svg"
                  width="32"
                  height="24"
                />
              </div>
              <div class="form__input-wrapper">
                <input
                  class="form__input-company"
                  type="text"
                  id="company"
                  placeholder="Company title"
                  required
                />
                <img
                  class="form__input-icon"
                  src="../../assets/form/contact-company.svg"
                  width="32"
                  height="24"
                />
              </div>
            </div>
            <textarea
              class="form__describe"
              placeholder="Describe your project"
            ></textarea>
            <button class="btn form__btn" type="submit">Get in touch</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
