<footer id="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-info">
        <div class="footer-logo">
          <a class="footer-link">
            <img src="../../assets/footer-logo.svg" alt="Ratifire" width="48" height="48">
          </a>
        </div>
        <p class="footer-description"> We are a team of dedicated IT specialists who thrive on solving complex challenges. We deliver innovative, secure, and customized solutions that empower businesses to grow and succeed.</p>
        <h3 class="footer-subtitle"><a>Ratifire</a></h3>
      </div>
      <div class="footer-contact"></div>
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer__item-link">About us</a>
        </li>
        <li class="footer-item">
          <a class="footer__item-link">Team</a>
        </li>
        <li class="footer-item">
          <a class="footer__item-link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
