<footer id="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-info">
        <div class="footer-logo">
          <a class="footer-link">
            <img src="../../assets/footer-logo.svg" alt="Ratifire" width="48" height="48">
            Ratifire
          </a>
        </div>
        <p class="footer-description"> We are a team of dedicated IT specialists who thrive on solving complex challenges. We deliver innovative, secure, and customized solutions that empower businesses to grow and succeed.</p>
        <p class="footer-copy">© 2021 — Copyright All Rights reserved</p>
      </div>
      <div class="footer-contact">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer__item-link">About us</a>
          </li>
          <li class="footer-item">
            <a class="footer__item-link">Team</a>
          </li>
          <li class="footer-item">
            <a class="footer__item-link">Contacts</a>
          </li>
        </ul>
        <div class="footer-social">
          <h4 class="footer-subtitle">Contact Us</h4>
            <a class="footer-number" href="tel:19998887766">+1 (999) 888-77-66</a>
            <a class="footer-email" href="malito:hello@logoipsum.com" >hello@logoipsum.com</a>
        </div>
      </div>


<!--        <img class="footer-email-img" src="../../assets/footer-email-icon.svg" alt="email">-->
<!--        <img class="footer-linkedIn-img" src="../../assets/footer-linkedIn-icon.svg" alt="LinkedIn">-->
    </div>
  </div>
</footer>
