<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <div class="footer__brand">
          <a href="#" class="footer__brand-name"
            ><img
              src="./assets/logo/ratifire_logo.svg"
              class="footer__logo"
              alt="Ratifire Logo"
            /><span>Ratifire</span></a
          >
        </div>

        <p class="footer__description">
          We are a team of dedicated IT specialists who thrive on solving
          complex challenges. We deliver innovative, secure, and customized
          solutions that empower businesses to grow and succeed.
        </p>
        <p class="footer__copy">© 2021 — Copyright All Rights reserved</p>
      </div>
      <div class="footer__contact">
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__item-link">About us</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">Team</a>
            </li>
            <li class="footer__item">
              <a href="#" class="footer__item-link">Contacts</a>
            </li>
          </ul>
        </nav>
        <div class="footer__social">
          <h4 class="footer__subtitle">Contact Us</h4>
          <a class="footer__number" href="tel:19998887766"
            >+1 (999) 888-77-66</a
          >
          <a class="footer__email" href="mailto:hello@logoipsum.com"
            >hello@logoipsum.com</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
