<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__brand">
        <img
          src="./assets/ratifire_logo.svg"
          class="header__logo"
          alt="Ratifire Logo"
        />
        <a href="#" class="header__brand-name">Ratifire</a>
      </div>

      <nav class="header__navbar" aria-label="Main Navigation">
        <ul class="header__navbar-list">
          <li class="header__navbar-item">
            <a href="#about_us" class="header__navbar-link">About us</a>
          </li>
          <li class="header__navbar-item">
            <a href="#contact" class="header__navbar-link">Contacts</a>
          </li>
          <li class="header__navbar-item">
            <a href="#team" class="header__navbar-link">Team</a>
          </li>
        </ul>
      </nav>

      <a href="#contact">
        <button class="header__button" type="button" aria-label="Contact us">
          Contact us
        </button>
      </a>
    </div>
  </div>
</header>
