<header id="header" class="d-flex justify-content-between align-items-center">
  <div class="container">
    <div
      class="header-container d-flex justify-content-between align-items-center"
    >
      <div class="d-flex flex-row align-items-center">
        <img
          src="./assets/ratifire_logo.svg"
          class="header-container-logo"
          alt="Ratifire Logo"
        />
        <a href="https://www.ratifire.org"
          ><p class="header-container-brand-name">Ratifire</p></a
        >
      </div>

      <nav class="header-navbar-links" aria-label="Main Navigation">
        <ul class="navbar-links-list d-flex align-items-center">
          <a href="#about_us" class="navbar-link"><li>About us</li></a>
          <a href="#contact" class="navbar-link"><li>Contacts</li></a>
          <a href="#team" class="navbar-link"> <li>Team</li></a>
        </ul>
      </nav>

      <a href="#contact">
        <button
          class="header-navbar-button"
          type="button"
          aria-label="Contact us"
        >
          Contact us
        </button>
      </a>
    </div>
  </div>
</header>
