<section class="home-section">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="home-container-left d-flex flex-column">
        <h1 class="home-container-title">Where Innovation Meets Execution</h1>
        <button class="home-container-btn" type="button">Get in touch</button>
        <p class="home-container-description">
          Innovative IT solutions designed to meet your business challenges. Our
          team crafts tailored solutions that align with your needs, ensuring
          technology drives your business forward.
        </p>
      </div>

      <div class="home-container-right d-flex flex-column align-items-top">
        <img
          class="home-container-img"
          src="./assets/rat-advantages.png"
          alt="Project advantages and Rat images"
        />
        <!--        <img src="./assets/advantages.png" alt="Project advantages images" />-->
        <!--        <img width="333" height="393" src="./assets/rat.png" alt="Rat image" />-->
      </div>
    </div>
  </div>
</section>
