<section class="home-section">
  <div class="container">
    <div class="home-section__content">
      <article class="home-section__content-text">
        <h1 class="home-section__title">Where Innovation Meets Execution</h1>
        <button class="home-section__button" type="button">Get in touch</button>
        <p class="home-section__description">
          Innovative IT solutions designed to meet your business challenges. Our
          team crafts tailored solutions that align with your needs, ensuring
          technology drives your business forward.
        </p>
      </article>

      <picture class="home-section__image">
        <source srcset="./assets/home/rat-advantagesTablets.png" media="(max-width: 1196px)">
        <img
          src="./assets/home/rat-advantages.png"
          alt="Project advantages and Rat images"
        />
      </picture>

    </div>
  </div>
</section>
