<script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "@id": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/#organization",
      "name": "Ratifire",
      "url": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app",
      "logo": {
        "@type": "ImageObject",
        "url": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/assets/logo/ratifire_logo.svg",
        "width": "200",
        "height": "200"
      },
      "description": "Innovative IT solutions designed to meet your business challenges. Our team crafts tailored solutions that align with your needs, ensuring technology drives your business forward.",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "+1-999-888-77-66",
          "contactType": "customer service",
          "email": "info@ratifire.com",
          "availableLanguage": ["English", "Ukrainian", "Polish"]
        },
        {
          "@type": "ContactPoint",
          "url": "https://t.me/ratifire",
          "contactType": "customer service"
        },
        {
          "@type": "ContactPoint",
          "email": "info@ratifire.com",
          "contactType": "technical support",
          "availableLanguage": ["English", "Ukrainian", "Polish"]
        },
        {
          "@type": "ContactPoint",
          "url": "https://www.linkedin.com/company/ratifire",
          "contactType": "public relations"
        }
      ],
      "sameAs": [
        "https://www.facebook.com/ratifire",
        "https://twitter.com/ratifire",
        "https://www.linkedin.com/company/ratifire",
        "https://www.youtube.com/company/@Ratifire"
      ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Pawia 31",
        "addressLocality": "Cracow",
        "postalCode": "31-154",
        "addressCountry": "PL"
      },
      "openingHours": "Mo-Fr 09:00-17:00"
    },

    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "@id": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/#website",
      "name": "Ratifire",
      "url": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    },

    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "@id": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/#webpage",
      "name": "Ratifire - Innovative IT Solutions",
      "description": "Innovative IT solutions designed to meet your business challenges. Our team crafts tailored solutions that align with your needs, ensuring technology drives your business forward.",
      "url": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app",
      "image": {
        "@type": "ImageObject",
        "url": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/assets/logo/ratifire_logo_meta.png",
        "width": "1200",
        "height": "630"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app"
      }
    },

    {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": "Software Engineering",
      "provider": {
        "@type": "Organization",
        "name": "Ratifire",
        "@id": "https://c064-2a02-a31d-a286-8e00-b066-90a0-a98c-577d.ngrok-free.app/#organization"
      },
      "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "name": "Software Engineering Services",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Custom Software Development"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Web & Mobile App Development"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "DevOps"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Cloud Solutions"
            }
          }
        ]
      }
    }
  ]
</script>
