<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="tem">
  <div class="container team-container">
    <h3 class="tem-title">Ratifier’s team</h3>
    <div class=" team-swiper">
      <div class="swiper-wrapper team-swiper__wrapper">
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide ">
          <img class="team-swiper__img" src="../../assets/ratifire-contact-img.jpg">
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle"><a href="#">Oleksandr Shaytan</a></h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/btn-team-icon.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-pagination">
        <div class="swiper-button-prev team-pagination__btn btn-left">
          <img src="../../assets/arrow-left-btn.svg">
        </div>
        <div class="swiper-button-next team-pagination__btn btn-right">
          <img src="../../assets/arrow-right-btn.svg">
        </div>
      </div>
    </div>
  </div>
</section>


<script src="js/main.min.js"></script>
</body>
</html>
