<section class="team">
  <div class="container team-container">
    <h3 class="team-title">Ratifier's team</h3>
    <div class="team-swiper">
      <div class="swiper-wrapper team-swiper__wrapper">
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Oleksandr_Shaytan.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Mykola_Tsyb.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Mykola Tsyb</a>
              </h3>
              <p class="team-inner__desc">Co-founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Volodymyr_Shaytan.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Volodymyr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Technical Lead</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Dmytro_Abalmas.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Dmytro Abalmas</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/ratifire-contact-img.jpg"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/btn-team-icon.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-pagination">
        <div class="swiper-button-prev team-pagination__btn btn-left">
          <img src="../../assets/swiper/icons/arrow-left-btn.svg" />
        </div>
        <div class="swiper-button-next team-pagination__btn btn-right">
          <img src="../../assets/swiper/icons/arrow-right-btn.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
