<section id="team" class="team">
  <div class="container team-container">
    <h2 class="team-title">Ratifier's team</h2>
    <div class="team-swiper">
      <div class="swiper-wrapper team-swiper__wrapper">
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Oleksandr_Shaytan.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/company/ratifire/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Mykola_Tsyb.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Mykola Tsyb</a>
              </h3>
              <p class="team-inner__desc">Co-founder</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/nickolay-tsyb-536bbb59/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Volodymyr_Shaytan.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Volodymyr Shaytan</a>
              </h3>
              <p class="team-inner__desc">Technical Lead</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/volodymyr-shaitan?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Dmytro_Abalmas.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Dmytro Abalmas</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/dmytro-abalmas-86301018a/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Darina_20Bieliei.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Darina Bieliei</a>
              </h3>
              <p class="team-inner__desc">UI/UX designer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/darina-bieliei-%F0%9F%87%BA%F0%9F%87%A6-58248a232/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Vasylyna_Petrashchuk.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Vasylyna Petrashchuk</a>
              </h3>
              <p class="team-inner__desc">QA Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="#">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Vladyslav_Seniv.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Vladyslav Seniv</a>
              </h3>
              <p class="team-inner__desc">UI/UX design</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/vseniv?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bke3inocCSEym520aYjqg4A%3D%3D">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Dmytro_Maksimenko.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Dmytro Maksimenko</a>
              </h3>
              <p class="team-inner__desc">QA Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/dmitro-maksimenko-a559272bb/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Vita_Kostiuk.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Vita Kostiuk</a>
              </h3>
              <p class="team-inner__desc">UI/UX designer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="http://www.linkedin.com/in/vita-kostiuk-b28973281">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Vladislav_Dikiy.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Vladyslav Dykyi</a>
              </h3>
              <p class="team-inner__desc">Front-End developer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/vladyslav-dykyi-9119711b3/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Semen_Zaharov.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Semen Zaharov</a>
              </h3>
              <p class="team-inner__desc">Front-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/sam-zakharov-82abbb285/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Yuliia_Yavorska.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Yuliia Yavorska</a>
              </h3>
              <p class="team-inner__desc">Front-End developer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/yuliia-yavorska-0b70a2133/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Ivan_Ivashchenko.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Ivan Ivashchenko</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/ivan-ivashchenko/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Oleksandr_Voskresenskyy.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Oleksandr Voskresenskyy</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/oleksandr-voskresenskyy/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Volodymyr_Hubersky.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Volodymyr Hubersky</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/valdo-hubersky/">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Maksim_Matveychuk.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Maksim Matveychuk</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/matveichuk-m?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Volodymyr-Labunets.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Volodymyr Labunets</a>
              </h3>
              <p class="team-inner__desc">Front-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" href="#">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide team-swiper__slide">
          <img
            class="team-swiper__img"
            src="../../assets/swiper/photos/Serhii_Martyniuk.png"
          />
          <div class="team-inner">
            <div class="team-inner__info">
              <h3 class="team-inner__subtitle">
                <a href="#">Serhii Martyniuk</a>
              </h3>
              <p class="team-inner__desc">Back-End Engineer</p>
            </div>
            <div class="team-btn">
              <a class="team-btn__link" type="button" target="_blank" href="https://www.linkedin.com/in/serhii-martyniuk-3b7668281?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <img src="../../assets/swiper/icons/team_LinkedIn.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="team-pagination">
        <div class="swiper-button-prev team-pagination__btn btn-left">
          <img src="../../assets/swiper/icons/arrow-left-btn.svg" />
        </div>
        <div class="swiper-button-next team-pagination__btn btn-right">
          <img src="../../assets/swiper/icons/arrow-right-btn.svg" />
        </div>
      </div>
    </div>
  </div>
</section>
