#contact {
  margin-bottom: 160px;
}

.contact__img-wrapper {
  object-fit: cover;
  overflow: hidden;
  box-shadow: -15px 10px 0px 0px $primary90-color;
}

.contact__form-wrapper {
  width: 522px;
}

.contact__content {
  @include flexRow($justifyContent: space-between);
  gap: 100px;
}

.contact__title {
  @extend %sectionTitle;
  text-align: center;
}

.contact__description {
  @include textBase;
  margin-bottom: 20px;
}

input,
textarea {
  @extend %input_style;
}

textarea::placeholder,
input::placeholder {
  @include textBase($fz: 18px, $lh: 146%, $color: $neutral200-color);
}


.form__input-user,
.form__input-email,
.form__input-company {
  padding-left: 35px;
}

.form__input-wrapper {
  position: relative;
}

.form__input-icon {
  position: absolute;
  top: 11px;
  left: 0;
}

.form__describe {
  min-width: 522px;
  height: 140px;
  resize: none;
}

.form__btn {
  @extend %buttonBase;
  width: 100%;
}
