.banner {
  margin-bottom: 160px;

  &__container {
    background-color: $primary90-color;
    padding: 60px 80px;

    .banner__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .banner__title {
        @include text-format(
          $font-size: 72px,
          $line-height: 130%,
          $font-weight: $font-bold,
          $font-family: "Montserrat"
        );

        .banner__strong {
          color: $white-color;
        }
      }
    }
  }
}
