.banner {
  margin-bottom: 160px;

  &__container {
    background-color: $primary90-color;
    padding: 60px 80px;

    .banner__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .banner__title {
        font-size: 72px;
        font-weight: $font-bold;
        line-height: 130%;
        color: $primary30-color;

        .banner__strong {
          color: $white-color;
        }
      }
    }
  }
}
