.header {
  height: 80px;
  position: relative;
  z-index: 2; /* Ensure header is above the video */
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__brand {
      display: flex;
      flex-direction: row;
      align-items: center;

      .header__logo {
        margin-right: 15px;
      }

      .header__brand-name {
        font-size: 32px;
        font-weight: $font-medium;
        line-height: 44.16px;
        color: $primary50-color;
        margin: 0 auto;
      }
    }

    .header__navbar {
      font-size: 18px;
      line-height: 26.28px;

      .header__navbar-list {
        margin: 0 auto;
        padding: 0;

        .header__navbar-item {
          margin: 0 24px;
        }
      }
    }

    .header__button {
      border: 1px dashed $primary50-color;
      border-radius: 60px;
      color: $primary50-color;
      background-color: $transparent-color;
      font-size: 18px;
      line-height: 26.28px;
      padding: 10px 24px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      &:hover {
        color: $white-color;
        background-color: $primary50-color;
      }
    }
  }
}
