.header {
  height: 80px;
  position: relative;
  z-index: 2; /* Ensure header is above the video */
  @include flexRow($justifyContent: space-between, $alignItems: center);

  &__container {
    @include flexRow($justifyContent: space-between, $alignItems: center);

    .header__brand {
      @include flexRow($alignItems: center);

      &-name {
        @include brand_name($arg: header);
      }
    }

    .header__navbar {
      font-size: 18px;
      line-height: 26.28px;

      &-list {
        margin: 0 auto;
        padding: 0;

        .header__navbar-item {
          margin: 0 24px;

          .header__navbar-link {
            @extend %link;
          }
        }
      }
    }

    .header__button {
      border: 1px dashed $primary50-color;
      border-radius: 60px;
      color: $primary50-color;
      background-color: $transparent-color;
      font-size: 18px;
      line-height: 26.28px;
      padding: 10px 24px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        color: $white-color;
        background-color: $primary70-color;
      }

      &:focus {
        background-color: $primary40-color;
      }
    }
  }
}
