.header {
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure header is above the video */
  @include flexRow($justifyContent: space-between, $alignItems: center);
  background: linear-gradient(180deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);

  &__container {
    @include flexRow($justifyContent: space-between, $alignItems: center);

    .header__brand {
      @include flexRow($alignItems: center);

      &-name {
        @include brandName($arg: header);
      }
    }

    .header__navbar {
      @include textBase($fz: 18px, $lh: 146%);

      &-list {
        margin: 0 auto;
        padding: 0;

        .header__navbar-item {
          margin: 0 24px;

          .header__navbar-link {
            @extend %link;
          }
        }
      }
    }

    .header__button {
      @include outlinedOvalBtn(
        $color: $primary50-color,
        $stroke-color: $primary50-color
      );
      @extend %outlinedOvalBtn;
    }
  }
}
