.about-us {
  margin-top: 162px;
  margin-bottom: 160px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 462px;

    .about-us__title {
      @include section-title;

      .about-us__description {
        @include text-format;
      }
    }
  }

  &__image {
    @include img-blue-line;
  }
}
