@media screen and (max-width: $breakpoint-lg) {
  .team {
    margin-bottom: 115px;
  }

  .team-title {
    font-size: 35px;
    line-height: 130%;
  }

  .team-swiper {

    &__img {
      width: 274px;
      height: 274px;
    }

  }

  .team-inner {

    &__subtitle a {
      @include textBase($fz: 18px, $fw: $font-medium, $lh: 135%);
    }

    &__desc {
      @include textBase($fz: 15px, $fw: $font-regular, $lh: 153%);
    }
  }

  .team-pagination {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .team-title {
    font-size: 28px;
    line-height: 118%;
  }

  .team-inner {

    &__subtitle a {
      @include textBase($fz: 16px, $fw: $font-medium, $lh: 128%);
    }

    &__desc {
      @include textBase($fz: 14px, $fw: $font-regular, $lh: 150%);
    }
  }
}